<%= include_gon %>
<%= @tweets %>

<style type="text/css">    
#cloud{
width: 100%;
height:500px;
}
</style>

<div id="surrounding_div" style="width:100%;height:500px">
<canvas id="cloud">
</canvas>
</div>