<%= include_gon %>
<%= @tweets %>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://gist.github.com/emeeks/3361332/raw/61cf57523fe8cf314333e5f60cc266351fec2017/d3.layout.cloud.js"></script>

<style type="text/css">    
#cloud{
width: 100%;
height:100%;
}
</style>

<div id="d3Cloud">
</div>

<div id="polarity">
  <% if @positive_count > @negative_count %>
    <h2>So far, people are feeling positive today!</h2>
  <% elsif @positive_count < @negative_count %>
    <h2>So far, people are feeling negative today...</h2>
  <% else %>
    <h2>People are equally positive AND negative today. Wait, what?</h2>
  <% end %>
</div>

